@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Noto+Nastaliq+Urdu&family=Reem+Kufi+Fun:wght@500&display=swap');
:root{
  --black:#000;
  --red:hsl(353, 85%, 44%);
  --white:#fff;
  --green:hsl(150, 100%, 24%);
  --font1:'Noto Nastaliq Urdu', serif;
  --font2: 'Cairo', sans-serif;
  --font3: 'Reem Kufi Fun', sans-serif;
  --fontSize-B:30px;
  --fontSize-M:25px;
  --fontSize-S:15px;
  --radius-B:18px;
  --radius-M:12px;
  --radius-S:6px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font2);
  font-size: var(--fontSize-M);
  scrollbar-color: var(--red) var(--black);
  scrollbar-width:thin;
  scrollbar-gutter: none;
}
::selection{
  background-color: var(--red);
}
*:is(p ,div ,span ,a ,button ,input ,select ,textarea){
  color: #fff;
}
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--black);
  overflow-x: hidden;
}
header{
  box-shadow:1px 0 3px hsl(150, 100%, 24%);
}
#timeLineContainer{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.eventContainer{
  width: 50%;
  display: grid;
  place-items: center;
  position: relative;
}
.eventContainer:nth-child(odd){
  margin-left: 0;
}
.eventContainer:nth-child(odd)::before{
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 4px;
  background-color: var(--red);
}
.eventContainer:nth-child(odd)::after{
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  bottom: 50%;
  width: 16px;
  aspect-ratio: 1/1;
  background-color: var(--green);
  border: 2px solid var(--black);
  border-radius: 50%;
  transform: translateY(-50%);
}
.eventContainer:nth-child(even){
  margin-left: 50%;
}
.eventContainer:nth-child(even)::before{
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 0;
  width: 4px;
  background-color: var(--red);
}
.eventContainer:nth-child(even)::after{
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  bottom: 50%;
  width: 16px;
  aspect-ratio: 1/1;
  background-color: var(--green);
  border: 2px solid var(--black);
  border-radius: 50%;
  transform: translateY(-50%);
}
.eventContainer:nth-child(odd)>.event::before{
  content: "";
  position: absolute;
  top: 50%;
  right: -7px;
  bottom: 50%;
  width: 14px;
  aspect-ratio: 1/1;
  transform: translateY(-50%) rotate(45deg);
  background-color: inherit;
  z-index: -1;
}
.eventContainer:nth-child(even)>.event::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;
  bottom: 50%;
  width: 14px;
  aspect-ratio: 1/1;
  transform: translateY(-50%) rotate(45deg);
  background-color: inherit;
  z-index: -1;
}
.eventContainer:nth-child(even)>.event::before{
  content: "";
  position: absolute;

}
.event{
  position: relative;
  width: 90%;
  background-color: hsl(0, 0%, 5%);
}