@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Noto+Nastaliq+Urdu&family=Reem+Kufi+Fun:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap');:root{
  --red:hsl(353, 85%, 44%);
  --green:hsl(150, 100%, 24%);
  --blue:#1f73fb;
  --black1:#000;
  --black2:hsl(0, 0%, 15%);
  --black3:hsl(0, 0%, 20%);
  --black4:hsl(0, 0%, 30%);
  --black5:hsl(0, 0%, 40%);
  --white1:#fff;
  --white2:hsl(0, 0%, 95%);
  --white3:hsl(0, 0%, 90%);
  --white4:hsl(0, 0%, 80%);
  --white5:hsl(0, 0%, 70%);
  --langAlign:right;
  --font1:'Noto Nastaliq Urdu', serif;
  --font2:tahoma;
  --font3: 'Reem Kufi Fun', sans-serif;
  --font4: 'Redacted Script', cursive;
  --fontSize-B:28px;
  --fontSize-M:21px;
  --fontSize-S:17px;
  --radius-B:18px;
  --radius-M:12px;
  --radius-S:6px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font2);
  font-size: var(--fontSize-M);
  scrollbar-color: var(--blue) var(--white3);
  scrollbar-width:7px;
  scrollbar-gutter: none;
}
::selection{
  background-color: var(--blue);
}
*{
  color: var(--black3);
}
html{
  overflow-x: hidden;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--white3);
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  background-color: var(--white3);
}
::-webkit-scrollbar-thumb{
  background-color: var(--blue);
  border-radius: 30px;
}
#errTab{
  position: fixed;
  width: 100vw;
  bottom: 100%;
  display: grid;
  place-items: center;
  background-color: var(--white3);
  border: 1px solid var(--black5);
  transition: all .3s ease-in-out;
  padding: 5px 0;
  z-index: 99;
}
#langToggle{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}
#langToggle>button{
  position: relative;
  display: grid;
  place-items: center;
  box-shadow: 2px 2px 3px var(--black5);
  padding: 5px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: var(--white1);
  border: none;
  cursor: pointer;
}
#langToggle svg{
  font-size: var(--fontSize-B);
}
#langToggle>button:is(:hover ,:focus){
  background-color: var(--white4);
}
#langToggle p{
  position: absolute;
  font-size: var(--fontSize-S);
  font-weight: 800;
  text-align: right;
  width: 1px;
  opacity: 0;
  z-index: -1;
  transition: all .3s ease-in-out ;
}
#langToggle>button:is(:focus)>p{
  opacity:1;
  width: 350%;
}
#langToggle>button:is(:focus)>:nth-child(3){
  transform:rotate(-90deg);
}
#moreInfoPage{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter:blur(5px);
  z-index: 11;
  display: grid;
  place-items: center;
}
#moreInfoContainer{
  position: relative;
  width: 70%;
  height: 70%;
  background-color: var(--white3);
  border-radius: var(--radius-B) 0  0 var(--radius-B);
  display: flex;
  overflow: hidden;
  justify-content: center;
}
#moreInfoBox *{
  text-align: var(--langAlign);
}
#moreInfoBox{
  padding: 0 5%;
  width: 100%;
  margin-top: 50px;
  box-sizing:border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
#moreInfoBox img{
  width: auto;
  height: 150px;
}
#moreInfoBox h1{
  font-size: var(--fontSize-B);
  color: var(--black2);
}
#moreInfoBox p{
  font-size: var(--fontSize-M);
  color: var(--black4);
}
#closeInfo{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: var(--fontSize-B);
  transition: all .3s ease-in-out;
  cursor: pointer;
}
#closeInfo:is(:hover ,:focus){
  scale: 1.1;
}
#pageView{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#pageView>section{
  width: 100%;
  padding: 20px 2%;
}
#heroSection{
  position: relative;
  min-height: 70vh;
  display: grid;
  place-items: center;
}
#heroSection::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 90% ,var(--white3) 100%);
}
#heroSection>video{
  height: 70vh;
  width: 100%;
  object-fit:cover;
  filter: grayscale(1);
}
#heroSection>img{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  z-index: 10;
}
#timeLineContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-100px);
}
.eventContainer{
  width: 50%;
  display: grid;
  place-items: center;
  position: relative;
  transition: all .3s ease-in-out;
}
/* observed */
.eventContainer:is(.visible)>.event{
  opacity: 1;
  transform: translateY(0%);
}
/* left or right block placement */
.eventContainer:nth-child(odd){
  margin-left: 0;
}
.eventContainer:nth-child(even){
  margin-left: 50%;
}
/* line */
.eventContainer:nth-child(odd)::before{
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 4px;
  background-color: var(--white5);
}
.eventContainer:nth-child(even)::before{
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 0;
  width: 4px;
  background-color: var(--white5);
}
/* event orb */
.eventContainer:nth-child(odd)::after{
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  bottom: 50%;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: var(--blue);
  border: 3px solid var(--white2);
  border-radius: 50%;
  transform: translateY(-50%);
}
.eventContainer:nth-child(even)::after{
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  bottom: 50%;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: var(--blue);
  border: 3px solid var(--white2);
  border-radius: 50%;
  transform: translateY(-50%);
}
.eventContainer:is(.loading)>.event{
  background: linear-gradient(40deg, var(--white2) 25%, var(--white4) 50%, var(--white2) 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.eventContainer:is(.loading) *{
  font-family: var(--font4);
}
/* event pointer */
.eventContainer:nth-child(odd)>.event::before{
  content: "";
  position: absolute;
  top: 50%;
  right: -7px;
  bottom: 50%;
  width: 14px;
  aspect-ratio: 1/1;
  transform: translateY(-50%) rotate(45deg);
  background-color: inherit;
  z-index: -1;
}
.eventContainer:nth-child(even)>.event::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -7px;
  bottom: 50%;
  width: 14px;
  aspect-ratio: 1/1;
  transform: translateY(-50%) rotate(45deg);
  background-color: inherit;
  z-index: -1;
}
/* make all dates next to line */
.eventContainer:nth-child(odd)>.event{
  flex-direction: row-reverse;
}
/* date border accordingly */
.eventContainer:nth-child(odd)>.event>.eventDate{
  border-left: 1px solid var(--white3);
}
.eventContainer:nth-child(even)>.event>.eventDate{
  border-right: 1px solid var(--white3);
}
.event{
  position: relative;
  width: 90%;
  background-color: var(--white1);
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateY(-50%);
  transition-property: opacity ,transform;
  transition:opacity .3s .2s,transform .3s .2s ease-in-out ;
  cursor: pointer;
}
.event:is(:hover ,:focus){
  background-color: var(--white2);
}
.event>div{
  padding: 10px;
}
.event>.eventDate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}
.event>.eventDate *{
  font-size: var(--fontSize-S);
  line-height: -2px;
}
.event>.eventDate span{
  font-size: var(--fontSize-B);
}
.event>.eventTxt{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  flex-grow: 1;
}
.event>.eventTxt *{
  text-align: var(--langAlign);
}
.event>.eventTxt h1{
  font-size: calc(var(--fontSize-M) - 2px);
  color: var(--black2);
}
.event>.eventTxt p{
  font-size: var(--fontSize-S);
  color: var(--black4);
}
.event>.eventTxt img{
  width: 50px;
  height: 50px;
}