@media (width<1200px){
  :root{
      --fontSize-B:25px;
      --fontSize-M:19px;
  }
}
@media (width<992px){
  :root{
      --fontSize-B:23px;
      --fontSize-M:18px;
      --fontSize-S:15px;
  }
  #textInfo{
    width: 50%;
  }
  #imageInfo{
    width: 50%;
  }
}
@media (width<768px){
  :root{
      --fontSize-B:22px;
      --fontSize-M:17px;
  }
  .eventContainer:nth-child(even){
    margin-left: 0;
  }
  .eventContainer:nth-child(odd)::before{
    left: -2px;
  }
  .eventContainer:nth-child(odd)::after{
    left: -8px;
  }
  .eventContainer:nth-child(odd)>.event::before{
    left: -7px;
  }
  .eventContainer{
    width: 100%;
    padding: 10px;
  }
  .eventContainer:nth-child(odd)>.event{
    flex-direction: row;
  }
  .eventContainer:nth-child(odd)>.event>.eventDate{
    border-left: none;
    border-right: 1px solid var(--white3);
  }
  #moreInfoBox {
    flex-direction: column;
    gap: 20px;
  }
  #moreInfoBox>div{
    width: 100%;
  }
  #imageIndicators{
    display: none;
  }
}
@media (width<576px){
  :root{
      --fontSize-B:20px;
      --fontSize-M:16px;
      --fontSize-S:14px;
  }
  #moreInfoContainer{
    width: 100%;
    border-radius: 0;
  }
  #imageSlider{
    height: 250px;
  }
}
@media (width<450px){
  #imageSlider{
    height: 200px;
  }
}